body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #dce9fb;
  background: radial-gradient(circle, #dce9fb 0%, #cff3ff 50%, #c8e8ff 100%);
}

body nav.navbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Main Layout Styles */
main {
  flex: 1;
}

nav {
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgb(166, 213, 215);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

nav .logo-img {
  width: 100px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin: 0 10px;
  transition: transform 0.3s;
}

nav ul li a {
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li:hover {
  transform: translateY(-2px);
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
/* Component Styles */
.shadow__btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #000;
  border-radius: 7px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s;
  background: radial-gradient(circle, #dce9fb 0%, #cff3ff 50%, #c8e8ff 100%);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.shadow__btn:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.card {
  border: none;
  background: #dce9fb;
  background: radial-gradient(circle, #dce9fb 0%, #cff3ff 50%, #c8e8ff 100%);
}

.card-title {
  font-size: 1.5rem;
}

.card-subtitle {
  font-size: 1.2rem;
  color: #6c757d;
}

.card-text {
  font-size: 1rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  position: sticky;
  bottom: 0;
  z-index: 10;
}
